@charset "UTF-8";

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, aside, footer, section, div, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f5ee;
    color: #000000;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Stil för ingångssidan */
#entry {
    display: block;
    padding: 0;
    background-image: url(../img/start.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#entry main {
    background-color: #f7f5eeb9;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

#entry a {
    padding: 1rem;
    background-color: #467562;
    font-weight: bold;
    text-decoration: none;
    color: #e6dec5;
    box-shadow: 5px 5px 5px #808080;
    display: inline-block;
    max-width: min-content;
    white-space: nowrap;
    margin: 1rem;
}

#entry a:link, #entry a:visited {
    color: #e6dec5;
}

#entry a:hover, #entry a:active {
    box-shadow: none;
    position: relative;
    left: 5px;
    top: 5px;
}

/* Stil för header */
header img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* Stil för navigering */
#globalNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
}

#globalNav, #localNavVeg, #localNavBox {
    list-style: none;
    margin: 0;
    padding: 0;
}

#localNavVeg, #localNavBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #e6dec5;
    padding: 0.5rem
}

.dropDown > a:after {
    content: ' \25BE';
}

#globalNav li {
    font-size: 1.2rem;
}

#localNavVeg li, #localNavBox li {
    font-size: 1.1rem;
    padding: 0.5rem;
}

#localNavVeg {
    width: 155px;
}

#localNavBox {
    width: 152px;
}

nav a {
    text-decoration: none;
}

nav a:link, nav a:visited {
    color: #000000;
}

#globalNav a.thisPage {
    font-weight: bold;
    color: #467562;
}

nav a:hover, nav a:active {
    color: #467562;
}

.dropDown ul {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.dropDown:hover ul {
    transform: scaleY(1);
}

#boldgreen {
    font-weight: bold;
    color: #467562;
}

#menucheckbox, #menuicon {
    display: none;
}

/* Stil för main */
#startcontainer {
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;
}

#startcontainer picture img {
    max-width: 100%;
    display: block;
}

main h1, main h2, main h3, main p {
    text-align: center;
}

main h1, main h2, main h3 {
    color: #467562;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    line-height: 2rem;
}

#underbar {
    font-size: 1.4rem;
}

#sectioncontainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

#sectioncontainer div {
    position: relative;
    max-width: 250px;
}

#sectioncontainer img {
    max-width: 100%;
}

.banner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: hsla(47, 36%, 95%, 0.692);
}

.banner p {
    font-weight: bold;
    color: #103526;
    text-align: center;
}

#aboutcontainer {
    width: 100%;
    text-align: center;
}

#aboutcontainer img {
    max-width: 70%;
    margin: 0.5rem;
}

#aboutcontainer figcaption {
    margin-bottom: 1.5rem;
}

.vegcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vegcontainer div {
    width: 200px;
    height: 300px;
    background-color: #c5ddd3;
    display: inline-block;
    margin: 0.5rem;
}

.vegcontainer div img {
    max-width: 100%;
}

#shopcontainer {
    text-align: center;
    padding: 1rem;
}

#shopcontainer img {
    max-width: 100%;
}

.aside {
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    background-color: #e6dec5;
    width: 250px;
}

.aside h3, .aside p {
    color: #103526;
    text-align: center;
}

#map {
    margin: 1rem;
    width: 250px;
    height: 250px;
}

#map iframe {
    width: 100%;
    height: 100%;
}

.inlinelink {
    text-decoration:none;
}

.inlinelink:link, .inlinelink:visited {
    color: #467562;
}

.inlinelink:hover, .inlinelink:active {
    color: #5fa085;
}

.floatcontainer {
    float: right;
}

.floatcontainer img {
    max-width: 100%;
    margin: 1rem;
}

#orderlink {
    padding: 1rem;
    background-color: #467562;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #808080;
    margin: 2rem auto;
    display: block;
    width: max-content;
    font-size: 1.3rem;
}
    
#orderlink:link, #orderlink:visited {
    color: #ffffff;
}
    
#orderlink:hover, #orderlink:active {
    background-color: #49635a;
    color: #ffffff;
    box-shadow: -5px -5px 5px #808080;
}

#clear {
    clear: right;
}

#orderform, #contactform {
    margin: 2rem;
}

fieldset {
    background-color: #e6dec5;
    margin-bottom: 1rem;
    padding: 1rem;
    white-space: nowrap;
}

legend {
    font-weight: bold;
    color: #103526;
}

.button {
    text-align: right;
    margin-bottom: 1rem;
}

.cursor input {
    cursor: pointer;
}

.gridcontainer {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.8rem;
}

.cursor p {
    text-align: left;
    white-space: normal;
}

.nogrid label {
    display: block;
    margin-bottom: 0.5rem;
}

#delivery input, #invoice input, #delivery textarea, #contact input {
    max-width: 40ch;
}

#delivery #zipcodeDelivery, #invoice #zipcodeInvoice {
    max-width: 6ch;
}

#contact textarea {
    max-width: 100ch;
}

/* Stil för footer */
footer {
    margin-top: 1rem;
    background-color: #e6dec5;
    position: relative;
    height: 100px;
}

footer a {
    display: inline-block;
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    background-color: #467562;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #808080;
}

footer a:link, footer a:visited {
    color: #ffffff;
}

footer a:hover, footer a:active {
    background-color: #49635a;
    color: #ffffff;
    box-shadow: -5px -5px 5px #808080;
}

footer img {
    width: 150px;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Layout */
body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

aside {
    grid-area: aside;
    align-self: center;
}

/* Media queries */

/* Navigering och layout */
@media screen and (max-width: 800px) {
    #globalNav {
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;
        position: static;
    }

    .dropDown ul {
        transform: none;
    }

    #localNavVeg, #localNavBox {
        position: static;
        background-color: #f7f5ee;
        padding: 0rem;        
    }

    #localNavVeg li, #localNavBox li {
        padding: 0.3rem;
    }

    .dropDown > a:after {
        content: '';
    }

    body {
        grid-template-columns: 50px auto auto 50px;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header header header header"
        ". nav main ."
        ". nav aside ."
        "footer footer footer footer";
    }

    #aboutcontainer img {
        max-width: 90%;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .floatcontainer {
        float: none;
        text-align: center;
    }

    .gridcontainer {
        grid-template-columns: auto;
        gap: 0.5rem;
    }
}

/* Navigering och layout */
@media screen and (max-width: 600px) {
    #menuicon {
    display: block;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    }

    #menuicon::after {
        content: ' \002B';
    }

    #globalNav {
        text-align: center;
    }
    
    #localNavVeg, #localNavBox {
        margin-left: auto;
        margin-right: auto;
    }

    #menucheckbox ~ ul {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s;
        position: absolute;
        left: 0;
        right: 0;
    }
    
    #menucheckbox:checked ~ ul {
        transform: scaleY(1);
        position: static;
    }

    #menucheckbox:checked ~ #menuicon::after {
        content: ' \00D7';
    }

    body {
        display: block;
    }

    .gridcontainer {
        grid-template-columns: min-content auto;
        gap: 0.8rem;
    }
}

/* Layout */
@media screen and (max-width: 460px) {
    .gridcontainer {
        grid-template-columns: auto;
        gap: 0.5rem;
    }
}

/* Footer */
@media screen and (max-width: 400px) {
    footer {
        position: static;
        height: 185px;
    }

    footer a {
        position: static;
        margin-left: 50%;
        margin-top: 2rem;
        transform: translateX(-50%);
    }

    footer img {
        position: static;
        display: block;
        margin-left: 50%;
        margin-top: 1rem;
        transform: translateX(-50%);
    }
}

/* Ingångssidan */
@media screen and (max-width: 245px) {
    #entry a {
        white-space: normal;
    }
}


/*
Färgpalett
Ljusbeige: #f7f5ee;
Mörkbeige: #e6dec5;
Ljusgrön: #5fa085;
Mellangrön: #467562;
Mörkgrön: #103526;
*/

/*
Entiteter
Liten pil ned: 25BE
Kryss: 00D7
*/


